.nav-photo {
  filter: none; /* Reset any previous filters */
  width: 4.0vw;
  height: 4.3vh;
  height: auto;
  border-radius: 50%;
  margin-bottom: 80px;
}

.nav-photo:hover{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.6) !important;
  transform: translateY(-3px);
}

#navigation .img-1 {
  width: 25px;
  filter: grayscale(1) invert(1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  margin-bottom: 20px; /* Add spacing between image and links */
}

#navigation {
  height: 100vh;
  background: #af0236;
  width: 15vh;
  text-align: center;
  color: #211e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
}

#navigation p {
  font-size: 12px;
  padding: 20px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
#navigation ul {
  list-style: none;
  padding: 0;
}
#navigation ul li {
  margin-bottom: 40px;
}
#navigation ul li:hover{
  border-radius: 50%;
  padding: 12px;
  /* padding-right: 10px; */
  background-color: #211e1e;
  transition: ease 0.5s;
}
#navigation-mob {
  display: none;
}
@media (max-width: 767px) {
  #navigation {
    display: none;
  }
  #navigation-mob {
    position: absolute;
    width: 100%;
    background: #af0236;
    height: 60px;
    z-index: 999;
    display: initial;
  }
  .container-1 {
    display: flex;
    flex-direction: row;
    /* align-items: center;  */
    margin: 0px; 
  }

  .nav-photo1 {
    filter: none; /* Reset any previous filters */
    width: 10vw;
    /* height: 40vh; */
    height: auto;
    /* border-radius: 50%; */
    margin-right: -10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 80px;
  }
  .nav-photo1:hover{
    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.6) !important;
    transform: translateX(3px);
  }
  #home .imgsec .bgblack {
    display: none;
  }
  #navigation-mob h1 {
    font-size: 30px !important;
    margin-top: 10px;
    margin-left: 15px;
  }
  #navigation-mob h1 a {
    text-decoration: none;
    color: #000;
  }

  .nav-1{
    margin-top: -400px;
    justify-content: center;
  }

  .nav-1 li{
    justify-content: center;
  }

  #navigation-mob ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #af0236;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #navigation-mob ul a {
    padding: 12px;
    color: #000;
    /* background-color: #211e1e; */
    text-decoration: none;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  #navigation-mob ul a:hover {
    color: #fff;
    /* border: 1px solid #211e1e; */
    /* background-color: #211e1e; */
    padding: 12px;
    transition: ease 0.5s;
  }
  #navigation img {
    width: 25px;
    filter: grayscale(1) invert(1);
  }
  
  #navigation {
    height: 100vh;
    background: #af0236;
    width: 15vh;
    text-align: center;
    color: #211e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
  }
  
  #navigation p {
    font-size: 12px;
    padding: 20px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #navigation ul {
    list-style: none;
    padding: 0;
  }
  
  #navigation ul li {
    margin-bottom: 40px;
  }
  
  #navigation ul li:hover {
    border-radius: 50%;
    padding: 12px;
    background-color: #211e1e;
    transition: ease 0.5s;
  }
  
  #navigation-mob {
    display: none;
  }
  
  @media (max-width: 767px) {
    #navigation {
      display: none;
    }
  
    #navigation-mob {
      /* margin-top: 0px; */
      position: absolute;
      width: 100%;
      background: #af0236;
      height: 65px;
      z-index: 999;
      display: initial;
    }
  
    #home .imgsec .bgblack {
      display: none;
    }
  
    #navigation-mob h1 {
      font-size: 30px !important;
      margin-top: 10px;
      margin-left: 15px;
    }
  
    #navigation-mob h1 a {
      text-decoration: none;
      color: #000;
    }
  
    .nav-1 {
      margin-top: -400px;
      justify-content: center;
    }
  
    .nav-1 li {
      justify-content: center;
    }
  
    #navigation-mob ul {
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      background-color: #af0236;
      height: 100vh;
      justify-content: center;
      align-items: center;
      list-style: none; /* Ensures no list-style for mobile */
      padding: 0; /* Removes padding for mobile */
    }
  
    #navigation-mob ul li {
      margin-bottom: 3%; /* Adds space between items */
    }
  
    #navigation-mob ul li a {
      padding: 12px;
      color: #000;
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      display: block; /* Makes the anchor tag block level */
    }
  
    #navigation-mob ul li a:hover {
      color: #fff;
      background-color: #211e1e;
      border-radius: 50%; /* Ensures the hover effect is circular */
      transition: ease 0.5s;
    }
  }
  
}
